/* MyComponent.module.css */

.link {
    display: inline-block;
    text-decoration: none;
    color: inherit; /* Ensure link inherits text color */
    position: relative; /* Make sure the pseudo-element is positioned relative to the link */
  }
  
  .link .text:hover {
    filter: brightness(170%);
  }
  
  .text {
    background: linear-gradient(to right, #5ABBDC, #2457B5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    transition: filter 0.3s ease, text-decoration 0.3s ease;
    position: relative; /* Ensure relative positioning for ::after pseudo-element */
    padding-left: 10px; /* Move text to the right by 3px */
  }
  
  .link .text::after {
    content: '';
    position: absolute;
    width: calc(100% - 40px); /* Adjust the width to control the length of the underline */
    height: 2px;
    background-color: #2457B5; /* Use a color that stands out */
    bottom: -5px; /* Position it right below the text */
    left: 24px; /* Adjust the left position to center or offset the underline */
    transform: scaleX(0);
    transition: transform 0.3s ease, width 0.3s ease; /* Added width transition for smoother effect */
  }
  
  .link:hover .text::after {
    transform: scaleX(1);
  }
  